* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $background;
}
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
section {
    margin: 90px 0;
}
img {
    width: 100%;
    animation: slideUp 1s linear 3s 1 normal;
}
.transition {
    opacity: 1;
    transform: none;
}
@keyframes slideUp {
    0% {
        transform: translateY(0deg);
        height: 0%;
        opacity: 0;
    }

    100% {
        transform: translateY(0deg);
        height: 100%;
    }
}
h2 {
    width: 100%;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    border: none;
    background-color: $background;
}