header {
    background-color: $darkGrey;
    padding-bottom: 40px;
}
h5 {
    padding-top: 40px;
}

h1 {
    text-align: left;
    margin: 90px 165px;
    width: 90%;
}
br {
    text-align: left;
}

.highlightWord {
    background-color: $darkBeige;
    height: 50px;
}