@media (max-width: 1400px) {
    h4 {
        width: 100%;
        padding: 30px 0px 30px 50px;
    }
    .socialContainer ul{
        right: -10px;
    }
    .socialContainer li h4 {
        padding: 5px;
    }
    .peep {
        left: 45%;
    }
    .highlighter {
        left: 5%;
    }
    .headerBox h2 {
        font-size: 1.2rem;
    }
} 
@media (max-width: 1000px) {
    .headshot {
        width: 20%;
    }
    .projectContainer {
        margin-left: 100px;
    }
    .skillContainer li {
        padding: 40px 25px;
        width: 50%;
    }
    
}
@media (max-width: 810px) {
    h4 {
        width: 100%;
        padding: 30px 0 30px 50px;
    }
    .socialContainer ul{
        top: 500px;
    }
    .socialContainer li {
        margin-bottom: 40px;
        cursor: pointer;
    }
    .socialContainer ul h4 {
        display: none;
    }
    .mobileMenu {
        display: block;
    }
    #mobile {
        display: none;
        width: 30%;
        border-radius: 5%;
    }
    .headerBox h2 {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.6rem;
    }
    .highlighter {
        width: 500px;
    }
    h3 {
        font-size: 1.5rem;
    }
    .descriptionBox {
        flex-direction: column-reverse;
    }
    .descriptionContainer {
        width: 80%;
    }
    .headshot {
        width: 40%;
    }
    .projectOuterContainer h3{
        text-align: left;
    }
    .projectContainer {
        margin-left: 0px;
    }
   .projectList {
       flex-direction: column;
       padding: 40px;
   }
   .projectContainer img {
       width: 50%;
   }
   .content {
       width: 80%;
   }
   .linkContainer li {
       box-shadow: 2px 1px 2px 1px $darkBeige;
   }
    .skillContainer ul {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        margin-left: 100px;
    }
    
}
@media (max-width: 600px) {
     .headerBox h2 {
        animation: none;
        overflow: visible;
        white-space: normal;
        border-right: none;
        width: 70%;
    }
    .highlighter {
        width: 90%;
    }
    .peep {
        left: 5%;
        bottom: 95%;
        width: 37%;
    }
    .arrow i {
        left: 45%;
    }
    .skillContainer ul {
        margin-left: 0;
    }
    .skillContainer i {
        font-size: 1.5rem;
        padding: 20px;
    }
}
@media (max-width:430px) {
    .projectList h2 {
        font-size: 1.3rem;
    }
    .linkContainer li {
        margin-right: 10px;
    }
    .content {
        width: 90%;
    }
}