.projectOuterContainer {
    text-align: center;
}
.projectContainer {
    padding: 0 40px ;
}
.projectContainer img {
    width: 60%;
}
.projectList {
    display: flex;
    align-items: center;
}
.projectList h2 {
    color: $darkGrey;
}
.content {
    width: 40%;
}
.content p,
.tools {
    margin: 20px 0;
}
.tools {
    display: flex;
    justify-content: center;
}
.tools li {
    margin: 20px;
    color: $darkBeige;
}
.tools i {
    font-size: 1.1rem;
}
.linkContainer {
    display: flex;
    justify-content: space-evenly;
}
.linkContainer li {
    background-color: #FFFFFF;
    padding: 10px;
    transition: all 150ms ease-out;
    &:hover {
        box-shadow: 2px 1px 2px 1px $darkBeige;
    }
}
.music,
.dad {
    flex-direction: row-reverse;
}