.ghibliContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.ghibliImg {
    width: 50%;
    position: relative;
    left: 600px;
    bottom: 150px;
}
.ghibliWord {
    text-align: right;
    width: 45%;
}
.ghibliWord p {
    display: block;
    justify-content: flex-end;
}
.linkContainer {
    display: flex;
    justify-content: flex-end;
}
.wordLink  {
    display: flex;
}
.wordLink li {
    margin-right: 50px;
}
.linkContainer li {
    margin-left: 50px;
}
.ghibliWord:before{
    content: "";
    width: 150px;
    border-bottom: 1px solid $darkBeige;
    display: block;
    position: relative;
    right: 20px;
    bottom: -25px;
}
.musicWord:before {
    content: "";
    width: 150px;
    border-bottom: 1px solid $darkBeige;
    display: block;
    position: relative;
    right: 155px;
    bottom: -25px;
}
.musicImg {
    width: 60%;
    margin-top: 80px;
}
.musicMoodContainer {
    display: flex;
}
.musicWord {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    position: relative;
    bottom: 150px;
    right: 185px;
}
.musicWord p,
.musicWord h2 {
    text-align: right;
}
.wordImg,
.dadImg {
    width: 50%;
    margin-top: 90px;
}
.wordSearchContainer {
    display: flex;
}
.wordWord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    position: relative;
    top: 70px;
    &::after {
        content: "";
        width: 150px;
        border-bottom: 1px solid $darkBeige;
        display: block;
        position: relative;
        left: 457px;
        top: -143px;
    }
}
.wordWord p {
    width: 65%;
}
.repoLine:after {
    content: "";
    width: 10px;
    height: 30px;
    border-left: 2px solid $charcoal;
    position: relative;
    left: 28px;
}
.dadWord {
    width: 36%;
    text-align: right;
    position: relative;
    left: 170px;
    &:before {
        content: "";
        width: 150px;
        border-bottom: 1px solid $darkBeige;
        display: block;
        position: relative;
        right: 165px;
        top: 40px;
    }
}

.descriptionBox {
    display: flex;
}
.descriptionContainer {
    margin-left: 20px;
}
.fa-square-full {
    font-size: 0.5rem;
    margin-right: 10px;
    color: $darkBeige;
    position: relative;
    top: 10px;
}

