.skillContainer {
  width: 100%;
}
.skillContainer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.skillContainer li {
    padding: 60px 45px;
    text-align: center;
    display: inline-block;
    width: 75%;
}
.skillContainer p {
    padding: 20px 0;
}
.skillContainer i {
    font-size: 3rem;
    color: $darkGrey;
    border: 1px solid $darkGrey;
    border-radius: 80%;
    padding: 40px;
}
.skillContainer i:hover {
    animation: shake 1.2s infinite;
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-5deg);
    }
    20% { 
        transform: rotate(5deg);
    }
    30% { 
        transform: rotate(0deg); 
    }
    40% { 
        transform: rotate(5deg); 
    }
    50% { 
        transform: rotate(-5deg); 
    }
    60% { 
        transform: rotate(0deg); 
    }
    70% { 
        transform: rotate(-5deg); 
    }
    80% { 
        transform: rotate(5deg); 
    }
    90% { transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(-5deg); 
    }
}
.skillContainer .devicon-firebase-plain,
.skillContainer .devicon-jquery-plain-wordmark {
    position: relative;
    top: 40px;
}
.resp {
    word-wrap: normal;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}