html {
    font-size: 125%;
    font-family: $baseFont;
}

h5 {
    font-family: $secondFont;
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

h1 {
    color: white;
     font-weight: 300;
     font-size: 2.5rem;
}
