html {
    font-size: 125%;
    font-family: $baseFont;
    line-height: 1.6;
}
h1 {
    font-family: $secondFont;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
}
h4 {
    font-weight: 100;
}
h3 {
    font-size: 3rem;
    color: $darkGrey;
}
a {
    color: $darkGrey;
}
.projectList h2 {
    font-size: 2.3rem;
}
.linkContainer a {
    color: #050206;
    letter-spacing: .1rem;
    font-weight: 600;
}
.linkContainer a:visited {
    color: $darkBeige;

}
.projectExp {
    font-size: 2rem;
}