html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  margin: 60px 0;
}

img {
  width: 100%;
}

h2 {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: #f8f8f8;
}

html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: white;
  font-weight: 300;
}

h1 {
  color: white;
  font-weight: 300;
  font-size: 2.5rem;
}

h2 {
  font-weight: 300;
  font-size: 1.8rem;
}

h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
}

a {
  color: #425154;
}
a:focus, a:visited {
  color: blue;
}

.descriptionContainer p {
  font-size: 2rem;
  color: rgba(81, 81, 81, 0.7);
  font-weight: 300;
  text-align: justify;
}

.slide p {
  font-size: 1.6rem;
  color: white;
}

.mail a {
  font-size: 1rem;
}

.contact {
  color: #425154;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  overflow: hidden;
  background-color: #f8f8f8;
  -webkit-transition: 1s;
  transition: 1s;
}

.preloaderCurtain {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
}

.preloaderWrapperLogo {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preloaderLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 290px;
  height: 145px;
  outline: 2px solid rgba(136, 136, 136, 0.2);
  outline-offset: -2px;
}

header {
  background-color: #515151;
  padding-bottom: 40px;
}

h5 {
  padding-top: 40px;
}

h1 {
  text-align: left;
  margin: 90px 165px;
  width: 90%;
}

br {
  text-align: left;
}

.highlightWord {
  position: relative;
  z-index: 1;
}

.highlightWord:after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 60px;
  width: 200px;
  z-index: -1;
  background-color: #b68c70;
  bottom: 5px;
  right: -6px;
  -webkit-animation: highlighter 1s linear 3s 1 normal;
          animation: highlighter 1s linear 3s 1 normal;
}

@-webkit-keyframes highlighter {
  0% {
    -webkit-transform: translateY(0deg);
            transform: translateY(0deg);
    height: 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0deg);
            transform: translateY(0deg);
    height: 100%;
  }
}

@keyframes highlighter {
  0% {
    -webkit-transform: translateY(0deg);
            transform: translateY(0deg);
    height: 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0deg);
            transform: translateY(0deg);
    height: 100%;
  }
}
.ghibliContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ghibliImg {
  width: 50%;
  position: relative;
  left: 600px;
  bottom: 150px;
}

.ghibliWord {
  text-align: right;
  width: 45%;
}

.ghibliWord p {
  display: block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wordLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wordLink li {
  margin-right: 50px;
}

.linkContainer li {
  margin-left: 50px;
}

.ghibliWord:before {
  content: "";
  width: 150px;
  border-bottom: 1px solid #b68c70;
  display: block;
  position: relative;
  right: 20px;
  bottom: -25px;
}

.musicWord:before {
  content: "";
  width: 150px;
  border-bottom: 1px solid #b68c70;
  display: block;
  position: relative;
  right: 155px;
  bottom: -25px;
}

.musicImg {
  width: 60%;
  margin-top: 80px;
}

.musicMoodContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.musicWord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
  position: relative;
  bottom: 150px;
  right: 185px;
}

.musicWord p,
.musicWord h2 {
  text-align: right;
}

.wordImg,
.dadImg {
  width: 50%;
  margin-top: 90px;
}

.wordSearchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wordWord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  position: relative;
  top: 70px;
}
.wordWord::after {
  content: "";
  width: 150px;
  border-bottom: 1px solid #b68c70;
  display: block;
  position: relative;
  left: 457px;
  top: -143px;
}

.wordWord p {
  width: 65%;
}

.repoLine:after {
  content: "";
  width: 10px;
  height: 30px;
  border-left: 2px solid #425154;
  position: relative;
  left: 28px;
}

.dadWord {
  width: 36%;
  text-align: right;
  position: relative;
  left: 170px;
}
.dadWord:before {
  content: "";
  width: 150px;
  border-bottom: 1px solid #b68c70;
  display: block;
  position: relative;
  right: 165px;
  top: 40px;
}

.descriptionBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.descriptionContainer {
  margin-left: 20px;
}

.fa-square-full {
  font-size: 0.5rem;
  margin-right: 10px;
  color: #b68c70;
  position: relative;
  top: 10px;
}

.skillContainer {
  width: 100%;
}

.skillContainer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.slide {
  border: 0.5px solid #d9d9d9;
  padding: 60px 40px;
  text-align: center;
  background-color: #000000;
  display: inline-block;
  width: 80%;
}

.slide p {
  padding: 20px 0;
}
.slide p:before {
  content: "";
  width: 30px;
  margin: 0 auto;
  border-bottom: 1px solid #b68c70;
  display: block;
  margin-bottom: 30px;
}

.slide i {
  font-size: 3rem;
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 80%;
  padding: 40px;
}

.devicon-firebase-plain,
.devicon-jquery-plain-wordmark {
  position: relative;
  top: 40px;
}

.resp {
  word-wrap: normal;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact ul {
  text-align: center;
}

.contact i {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.mail,
.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerBorder {
  border-top: 1px solid #425154;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footerBorder h5 {
  color: #425154;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerBorder ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social li {
  margin-right: 40px;
}

.social i {
  font-size: 1.5rem;
  color: #425154;
}